{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block main %}


<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <div class="row mr-1 align-items-center">
            <h3 class="card-title mb-0 pb-0">اطلاعات مقاله</h3>
        </div>
      </div>
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">{% csrf_token %}
              {{form|crispy}}
              <button type="submit" class="btn btn-success">ارسال مقاله</button>
          </form>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
    </div>
</div>


{% endblock %}