{% extends 'registration/base.html' %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block main %}
    <!--خوش آمدید {{user.get_full_name}}-->

    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->

            {% if articles %}
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ردیف</th>
                      <th>نام</th>
                      <th>نویسنده</th>
                      <th>دسته</th>
                      <th>تاریخ انتشار</th>
                      <th>وضعیت</th>
                      <th>چکیده</th>
                      <th>عکس</th>
                    </tr>
                  </thead>
                  <tbody>

                      {% for article in articles %}
                      <tr class='post-row'>
                          <td>{{forloop.counter}}</td>
                          {% if request.user.is_superuser %}
                            <td><a href="{% url 'account:article-update' article.slug %}">{{article.slug}}</a><br><br>
                              <a href="{% url 'account:article-delete' article.slug %}">پاک کردن مقاله</a></td>
                          {% elif article.status == 'd' %}
                            <td><a href="{% url 'account:article-update' article.slug %}">{{article.slug}}</a><br><br>
                              <a href="{% url 'account:article-delete' article.slug %}">پاک کردن مقاله</a></td>
                          {% elif article.status == 'p' %}
                            <td>{{article.slug}}</td>
                          {% endif %}
                          <td>{{article.author}}</td>
                          <td>{{article.category_to_str}}</td>
                          <td>{{article.jpublish}}</td>
                          <td><span class="tag tag-success">

                              {% if article.status == 'p' %}
                                  <span class="badge badge-success">منتشر شده</span>
                                  <a target="_blank" class="badge badge-primary" href="{% url 'blog:detail' article.slug%}">نمایش مقاله در سایت</a>
                              {% else %}
                                  <span class="badge badge-danger">پیش نویس</span>

                              {% endif %}

                          </span></td>
                          <td>{{article.description|striptags|truncatewords:30}}</td>
                          <td><img src="{{article.thumbnail.url}}" width="120"></td>


                      </tr>
                      {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            {% else %}
              <h3>هنوز مقاله ای ساخته نشده است.</h3>
            {% endif %}
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
{% endblock %}

{% comment %} {% block scripts %}
<script>
  $(document).ready(function(){
    $(".post-row").on('click', function(){
      alert($(this).html());
    });
  });
</script>
{% endblock %} {% endcomment %}