body {
    direction: rtl;
    text-align: right;

}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    
    text-align: left;
    
}

/* Mehran use this command to change the posision of older posts button  */
/* .pager-button {

    float: left !important
} */

@media (min-width: 992px) {
    header.masthead .page-heading h1,
    header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 5rem;
    }
}




/* Optional: Style the dropdown button */
.dropdown-btn {
  padding: 10px;
  background-color: rgba(31, 29, 131, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

/* Optional: Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b49402d;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Optional: Style the dropdown items */
.dropdown-content a {
  display: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Optional: Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu > li:hover > .submenu{
   display: block; 
}



/* these are for test dropdown in category_navbar.html. the navbar is now comented */

@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
============ small devices .end// ============
