body {
    direction: rtl;
    text-align: right;

}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    
    text-align: left;
    
}

/* Mehran use this command to change the posision of older posts button  */
/* .pager-button {

    float: left !important
} */

@media (min-width: 992px) {
    header.masthead .page-heading h1,
    header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 5rem;
    }
}